<script type="text/javascript">

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET', 'http://localhost:3613/Solucion/OpecServiceImplPort.xml?wsdl', true);
    // build SOAP request
    var sr = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:cnsc="http://cnsc/">' +
               '<soapenv:Header/>' +
               '<soapenv:Body>' +
                  '<cnsc:GetAllOpecs/>' +
               '</soapenv:Body>' +
            '</soapenv:Envelope>';
    xmlhttp.onreadystatechange = function () {

        if (xmlhttp.readyState == 4) {
            alert(this.responseText);
            alert(xmlhttp.status);
            if (xmlhttp.status == 200) {
                alert('done use firebug to see response');
            }
        }
    }
    // Send the POST request
    xmlhttp.setRequestHeader('Content-Type', 'text/xml');
    xmlhttp.send(sr);

</script>
